In [135]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import IsolationForest
from sklearn.covariance import EllipticEnvelope
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
# from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import preprocessing

In [136]:
data = pd.read_csv('1830151.csv')

In [177]:
df=data.copy()

In [178]:
def con_date_time(df):
    df['clear_date']=pd.to_datetime(df['clear_date'])
    df['posting_date']=pd.to_datetime(df['posting_date'])
    df['due_in_date']=pd.to_datetime(df['due_in_date'],format='%Y%m%d', errors='ignore')
    df['document_create_date']=pd.to_datetime(df['document_create_date'],format='%Y%m%d', errors='ignore')
    df['document_create_date.1']=pd.to_datetime(df['document_create_date.1'],format='%Y%m%d', errors='ignore')
    df['baseline_create_date']=pd.to_datetime(df['baseline_create_date'], format='%Y%m%d', errors='ignore')
    df['buisness_year']=df['buisness_year'].astype(int)
    return None

In [179]:
con_date_time(df)

In [180]:
df.drop(['document_create_date'],axis=1,inplace=True)
df=df.sort_values(by='document_create_date.1',ignore_index=True)
df=df.rename(columns={'document_create_date.1':'document_create_date'})

In [181]:
data_train=df.loc[data['clear_date'].notna()]
data_train=data_train.reset_index(drop=True)
data_null_cleardate=df.loc[data['clear_date'].isna()]
data_null_cleardate=data_null_cleardate.reset_index(drop=True)

In [182]:
df=data_train
df=(df.loc[df['document_create_date']<=df['posting_date']].loc[df['posting_date']<=df['due_in_date']].loc[df['baseline_create_date']<=df['due_in_date']].loc[df['baseline_create_date']<=df['clear_date']])

In [183]:
df['due_duration']=(df['clear_date']-df['due_in_date']).dt.days

In [184]:
df=df.drop(['clear_date'],axis=1)

Initial EDA

In [185]:
for i in df.columns:
    if df[i].isna().any():
        print(i)

area_business

In [186]:
df=df.drop(['area_business','isOpen'],axis=1)

In [187]:
df['conv_amt']=df['total_open_amount'].copy()

df.loc[df['invoice_currency']=='CAD','conv_amt']=df.loc[df['invoice_currency']=='CAD','conv_amt']*0.78

In [188]:
df.drop(['invoice_currency'],axis=1,inplace=True)

In [189]:
x_train, x_test_init = train_test_split(
    df,
    test_size=0.3,
    shuffle=False)
x_train.shape,  x_test_init.shape

((32073, 16), (13746, 16))

In [190]:
x_val, x_test = train_test_split(
    x_test_init,
    test_size=0.5,
    shuffle=False)

x_val.shape, x_test.shape

((6873, 16), (6873, 16))

In [191]:
df=x_train.copy()

mapper1=df.groupby('cust_number')['due_duration'].mean()
mapper2=df.groupby('name_customer')['due_duration'].mean()

df['cust_delay_mean']=df['cust_number'].map(mapper1)
df['cust_name_delay_mean']=df['name_customer'].map(mapper2)
df['payment_time']=(df['due_in_date']-df['document_create_date']).dt.days

#df.columns#.invoice_currency.value_counts()

a=df
code_business_code = {k: i for i, k in enumerate(a.business_code.unique(), 1)}
code_cust_payment_terms = {k: i for i, k in enumerate(a.cust_payment_terms.unique(), 1)}
code_cust_number = {k: i for i, k in enumerate(a.cust_number.unique(), 1)}
code_name_customer = {k: i for i, k in enumerate(a.name_customer.unique(), 1)}

def encoding(df_obj):
    df_obj.loc[:, 'code_business_code'] = df_obj.loc[:, 'business_code'].map(code_business_code)
    df_obj.loc[:, 'code_cust_payment_terms'] = df_obj.loc[:, 'cust_payment_terms'].map(code_cust_payment_terms)
    df_obj.loc[:, 'code_cust_number'] = df_obj.loc[:, 'cust_number'].map(code_cust_number)
    df_obj.loc[:, 'code_name_customer'] = df_obj.loc[:, 'name_customer'].map(code_name_customer)
    return None

def dates_feature(df_dates):
    df_dates['posting_date_month'],df_dates['posting_date_day'],df_dates['posting_date_year'],df_dates['posting_date_quarter'],df_dates['posting_date_dayofweek'],df_dates['posting_date_week']=df_dates['posting_date'].dt.month,df_dates['posting_date'].dt.day,df_dates['posting_date'].dt.year,df_dates['posting_date'].dt.quarter,df_dates['posting_date'].dt.dayofweek,df_dates['posting_date'].dt.isocalendar().week.astype(int)
    df_dates['due_in_date_month'],df_dates['due_in_date_day'],df_dates['due_in_date_year'],df_dates['due_in_date_quarter'],df_dates['due_in_date_dayofweek'],df_dates['due_in_date_week']=df_dates['due_in_date'].dt.month,df_dates['due_in_date'].dt.day,df_dates['due_in_date'].dt.year,df_dates['due_in_date'].dt.quarter,df_dates['due_in_date'].dt.dayofweek,df_dates['due_in_date'].dt.isocalendar().week.astype(int)
    df_dates['document_create_date_month'],df_dates['document_create_date_day'],df_dates['document_create_date_year'],df_dates['document_create_date_quarter'],df_dates['document_create_date_dayofweek'],df_dates['document_create_date_week']=df_dates['document_create_date'].dt.month,df_dates['document_create_date'].dt.day,df_dates['document_create_date'].dt.year,df_dates['document_create_date'].dt.quarter,df_dates['document_create_date'].dt.dayofweek,df_dates['document_create_date'].dt.isocalendar().week.astype(int)
    df_dates['baseline_create_date_month'],df_dates['baseline_create_date_day'],df_dates['baseline_create_date_year'],df_dates['baseline_create_date_quarter'],df_dates['baseline_create_date_dayofweek'],df_dates['baseline_create_date_week']=df_dates['baseline_create_date'].dt.month,df_dates['baseline_create_date'].dt.day,df_dates['baseline_create_date'].dt.year,df_dates['baseline_create_date'].dt.quarter,df_dates['baseline_create_date'].dt.dayofweek,df_dates['baseline_create_date'].dt.isocalendar().week.astype(int)
    return None

encoding(df)
dates_feature(df)

#df['document_create_date'].dt.day_name()
df['document_create_is_working']=np.where(df.document_create_date_dayofweek.isin([5,6]),0,1)
df['due_in_is_working']=np.where(df.due_in_date_dayofweek.isin([5,6]),0,1)

In [192]:
drop=['posting_date','document_create_date','due_in_date','baseline_create_date','name_customer','cust_number','cust_payment_terms','business_code']

In [193]:
drop

['posting_date',
 'document_create_date',
 'due_in_date',
 'baseline_create_date',
 'name_customer',
 'cust_number',
 'cust_payment_terms',
 'business_code']

In [194]:
df=df.drop(drop,axis=1)

In [195]:
modes = {}
for i in df.columns:
    modes[i]=df[i].mode()

In [196]:
df.columns.value_counts().sum()

41

In [197]:
Xtr=df.copy()

In [198]:
q=x_val.copy()

In [199]:
# q.drop(['clear_date','invoice_currency'],axis=1,inplace=True)

In [200]:
# q=q.drop(['area_business','isOpen'],axis=1)

In [201]:
df.head(1)

,buisness_year,doc_id,document type,posting_id,total_open_amount,invoice_id,due_duration,conv_amt,cust_delay_mean,cust_name_delay_mean,...,document_create_date_dayofweek,document_create_date_week,baseline_create_date_month,baseline_create_date_day,baseline_create_date_year,baseline_create_date_quarter,baseline_create_date_dayofweek,baseline_create_date_week,document_create_is_working,due_in_is_working
1,2019,1.928537e+09,RV,1.0,48419.67,1.928537e+09,0,48419.67,0.53271,1.145455,...,6,52,12,30,2018,4,6,52,0,1

In [202]:
drop.append('document type')

In [203]:
drop.append('posting_id')

In [204]:
df=q
df['cust_delay_mean']=df['cust_number'].map(mapper1)
df['cust_name_delay_mean']=df['name_customer'].map(mapper2)
df['payment_time']=(df['due_in_date']-df['document_create_date']).dt.days
encoding(df)
dates_feature(df)
df['document_create_is_working']=np.where(df.document_create_date_dayofweek.isin([5,6]),0,1)
df['due_in_is_working']=np.where(df.due_in_date_dayofweek.isin([5,6]),0,1)
df=df.drop(drop,axis=1)
df.columns.value_counts().sum()

39

In [205]:
for i in df.columns:
    if df[i].isna().any():
        df[i].fillna(int(modes[i]),inplace=True)

for i in df.columns:
    if df[i].isna().any():
        print(i)

In [206]:
Xval=df.copy()

In [207]:
Xtr_bkp=Xtr.copy()
Xval_bkp=Xval.copy()

In [209]:
Xtr=Xtr_bkp.copy()
Xval=Xval_bkp.copy()

Ytr= Xtr['due_duration'].copy()
Xtr.drop(['due_duration'],axis=1,inplace=True)

Yval= Xval['due_duration'].copy()
Xval.drop(['due_duration'],axis=1,inplace=True)

In [90]:
#list(zip(list(Xtr.columns),[1]*len(list(Xtr.columns))))

In [91]:
feature_selection=[      ('buisness_year', 1),
                         ('doc_id', 1),
                         ('document type', 0),
                         ('posting_id', 1),
                         ('total_open_amount', 1),
                         ('invoice_id', 1),
                         ('conv_amt', 1),
                         ('cust_delay_mean', 1),
                         ('cust_name_delay_mean', 1),
                         ('payment_time', 1),
                         ('code_business_code', 1),
                         ('code_cust_payment_terms', 1),
                         ('code_cust_number', 1),
                         ('code_name_customer', 1),
                         ('posting_date_month', 1),
                         ('posting_date_day', 1),
                         ('posting_date_year', 1),
                         ('posting_date_quarter', 1),
                         ('posting_date_dayofweek', 1),
                         ('posting_date_week', 1),
                         ('due_in_date_month', 1),
                         ('due_in_date_day', 1),
                         ('due_in_date_year', 1),
                         ('due_in_date_quarter', 1),
                         ('due_in_date_dayofweek', 1),
                         ('due_in_date_week', 1),
                         ('document_create_date_month', 1),
                         ('document_create_date_day', 1),
                         ('document_create_date_year', 1),
                         ('document_create_date_quarter', 1),
                         ('document_create_date_dayofweek', 1),
                         ('document_create_date_week', 1),
                         ('baseline_create_date_month', 1),
                         ('baseline_create_date_day', 1),
                         ('baseline_create_date_year', 1),
                         ('baseline_create_date_quarter', 1),
                         ('baseline_create_date_dayofweek', 1),
                         ('baseline_create_date_week', 1)]

In [92]:
feature=[]
for i in feature_selection:
    if i[1]==1:
        feature.append(i[0])

In [93]:
Xtr=Xtr[feature].copy()
Xval=Xval[feature].copy()

## Which model to select

In [ ]:
# Defining Lists to Store in the Results and Names of Algorithms
MSE_Score = []
R2_Score = []
Algorithm = []

### **1. Linear Regression**

In [ ]:
# Fitting Simple Linear Regression to the Training Set
Algorithm.append('Linear Regression')
clf = LinearRegression()
clf.fit(Xtr, Ytr)

# Predicting the Test Set Results
predicted = clf.predict(Xval)

In [ ]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(Yval, predicted))
R2_Score.append(r2_score(Yval, predicted))

### **2. Support Vector Regression**

In [ ]:
# Fitting SVR to the Training Set
Algorithm.append('Support Vector Regression')
clf = SVR()
clf.fit(Xtr, Ytr)

# Predicting the Test Set Results
predicted = clf.predict(Xval)

In [ ]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(Yval, predicted))
R2_Score.append(r2_score(Yval, predicted))

### **3. Decision Tree Regressor**

In [ ]:
# Fitting Decision Tree to the Training Set
Algorithm.append('Decision Tree Regressor')
clf = DecisionTreeRegressor()
clf.fit(Xtr, Ytr)

# Predicting the Test Set Results
predicted = clf.predict(Xval)

In [ ]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(Yval, predicted))
R2_Score.append(r2_score(Yval, predicted))

### **4. Random Forest Regressor**

In [94]:
# Fitting Random Forest Regressor Tree to the Training Set
Algorithm.append('Random Forest Regressor')
clf = RandomForestRegressor()
clf.fit(Xtr, Ytr)

# Predicting the Test Set Results
predicted = clf.predict(Xval)

In [95]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(Yval, predicted))
R2_Score.append(r2_score(Yval, predicted))

### **5. XGB Regressor**

In [ ]:
# Fitting XGBoost Regressor to the Training Set
Algorithm.append('XGB Regressor')
clf = xgb.XGBRegressor(objective ='reg:squarederror')
clf.fit(Xtr, Ytr)

# Predicting the Test Set Results
predicted = clf.predict(Xval)

In [ ]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(Yval, predicted))
R2_Score.append(r2_score(Yval, predicted))

## Score Card of the Models' Performances

In [96]:
# Just Combining the Lists into a DataFrame for a Better Visualisation
Comparison = pd.DataFrame(list(zip(Algorithm, MSE_Score, R2_Score)), columns = ['Algorithm', 'MSE_Score', 'R2_Score'])

In [97]:
# Score Card
Comparison

                 Algorithm  MSE_Score  R2_Score
0  Random Forest Regressor  32.477586  0.349877

## Random Forest

In [210]:
MSE_Score = []
R2_Score = []
Algorithm = []
MAE_Score = []
RMSE_Score = []
isTrue = []
isFalse = []
AllFeatures = []

In [211]:
Xtr=Xtr_bkp.copy()
Xval=Xval_bkp.copy()

In [212]:
Ytr= Xtr['due_duration'].copy()
Xtr.drop(['due_duration'],axis=1,inplace=True)

In [213]:
Yval= Xval['due_duration'].copy()
Xval.drop(['due_duration'],axis=1,inplace=True)

In [214]:
#list(zip(list(Xtr.columns),[1]*len(list(Xtr.columns))))

In [215]:
feature_selection=[      ('buisness_year', 0),
                         ('doc_id', 0),
                         ('document type', 0),
                         ('posting_id', 0),
                         ('total_open_amount', 0),
                         ('invoice_id', 0),
                         ('conv_amt', 1),
                         ('cust_delay_mean', 1),
                         ('cust_name_delay_mean', 0),
                         ('payment_time', 1),
                         ('code_business_code', 0),
                         ('code_cust_payment_terms', 1),
                         ('code_cust_number', 1),
                         ('code_name_customer', 0),
                         ('posting_date_month', 1),
                         ('posting_date_day', 1),
                         ('posting_date_year', 0),
                         ('posting_date_quarter', 0),
                         ('posting_date_dayofweek', 0),
                         ('posting_date_week', 0),
                         ('due_in_date_month', 1),
                         ('due_in_date_day', 1),
                         ('due_in_date_year', 0),
                         ('due_in_date_quarter', 1),
                         ('due_in_date_dayofweek', 1),
                         ('due_in_date_week', 0),
                         ('document_create_date_month', 1),
                         ('document_create_date_day', 1),
                         ('document_create_date_year', 0),
                         ('document_create_date_quarter', 1),
                         ('document_create_date_dayofweek', 1),
                         ('document_create_date_week', 0),
                         ('baseline_create_date_month', 1),
                         ('baseline_create_date_day', 1),
                         ('baseline_create_date_year', 0),
                         ('baseline_create_date_quarter', 0),
                         ('baseline_create_date_dayofweek', 0),
                         ('baseline_create_date_week', 0),
                         ('document_create_is_working', 1),
                         ('due_in_is_working', 1)]

In [216]:
feature=[]
for i in feature_selection:
    if i[1]==1:
        feature.append(i[0])

In [217]:
AllFeatures.append(feature)

In [218]:
Xtr=Xtr[feature].copy()
Xval=Xval[feature].copy()

In [219]:
def stan(a,n):
    if n==1:
        scaler = StandardScaler()
    elif n==2:
        scaler = preprocessing.QuantileTransformer(output_distribution='normal', random_state=0)
    return scaler

In [220]:
df=Xtr
scaler=stan(df,2)
scaler.fit(df)
Xtr=scaler.transform(df)
df=Xval
scaler=stan(df,2)
scaler.fit(df)
Xval=scaler.transform(df)

In [221]:
# n_estimators=35,max_depth=30,min_samples_leaf=10,min_samples_split=5
# n_estimators=45,max_depth=35,min_samples_leaf=15,min_samples_split=10

In [50]:
valS=[]
TrS=[]
n_e=[]
m_d=[]
m_s=[]
m_l=[]

In [222]:
n_e.append(45)
m_d.append(55)
m_s.append(25)
m_l.append(15)

In [ ]:
# Fitting Random Forest Regressor Tree to the Training Set
#Algorithm.append('Random Forest Regressor')
clf = RandomForestRegressor(n_estimators=n_e[-1],max_depth=m_d[-1],min_samples_leaf=m_s[-1],min_samples_split=m_l[-1])
qwerty=clf.fit(Xtr, Ytr)

In [231]:
# Ytr

In [233]:
clf = RandomForestRegressor(n_estimators=n_e[-1],max_depth=m_d[-1],min_samples_leaf=m_s[-1],min_samples_split=m_l[-1])
qwerty=clf.fit(Xtr, Ytr)

In [234]:
# Xval=xv.copy()
# Xval=x_val.copy()
#Xval=xv.copy()

In [235]:
print(qwerty.score(Xval, Yval))
valS.append(qwerty.score(Xval, Yval))
TrS.append(qwerty.score(Xtr, Ytr))
qwerty.score(Xtr, Ytr)

0.01736319698984945

0.6179118724922263

In [227]:
pd.DataFrame(list(zip(valS,TrS,n_e,m_d,m_s,m_l)))

          0         1   2   3   4   5
0 -0.139277  0.616509  45  55  25  15
1 -0.139273  0.617591  45  55  25  15

In [128]:
predicted = clf.predict(Xtr)
# predicted = clf.predict(Xval)
MSE_Score.append(mean_squared_error(Ytr, predicted))
R2_Score.append(r2_score(Ytr, predicted))
MAE_Score.append(mean_absolute_error(Ytr, predicted))
RMSE_Score.append(np.sqrt(mean_squared_error(Ytr, predicted)))
A=((abs((pd.Series(np.around(predicted)).astype(int)-Ytr.reset_index(drop=True))))<4).value_counts().to_frame().T
for i in A.columns:
    if i==True:
        isTrue.append(int(A[i]))
    else:
        isFalse.append(int(A[i]))

In [119]:
predicted1 = clf.predict(Xtr)
predicted = clf.predict(Xval)
MSE_Score.append(mean_squared_error(Yval, predicted))
R2_Score.append(r2_score(Yval, predicted))
MAE_Score.append(mean_absolute_error(Yval, predicted))
RMSE_Score.append(np.sqrt(mean_squared_error(Yval, predicted)))
A=((abs((pd.Series(np.around(predicted)).astype(int)-Yval.reset_index(drop=True))))<4).value_counts().to_frame().T
for i in A.columns:
    if i==True:
        isTrue.append(int(A[i]))
    else:
        isFalse.append(int(A[i]))

In [129]:
# Just Combining the Lists into a DataFrame for a Better Visualisation
Comparison = pd.DataFrame(list(zip(MSE_Score,RMSE_Score, R2_Score,MAE_Score,isTrue,isFalse,AllFeatures)), columns = ['MSE_Score','RMSE_Score', 'R2_Score','MAE_Score','isTrue','isFalse','Allfeatures'])

In [130]:
# Score Card
Comparison[['MSE_Score','RMSE_Score', 'R2_Score','MAE_Score','isTrue','isFalse']]

   MSE_Score  RMSE_Score  R2_Score  MAE_Score  isTrue  isFalse
0  32.477586    7.544121  0.349877   3.597053    5103     1770
1  56.913762    7.544121 -0.139277   3.597053    5103     1770
2  56.913762    7.011963 -0.139277   2.502903   26919     5154

In [ ]:
len(AllFeatures)

In [122]:
q=x_test.copy()

In [131]:
x_test

,business_code,cust_number,name_customer,buisness_year,doc_id,posting_date,document_create_date,due_in_date,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,due_duration,conv_amt
39061,U001,0200772670,ASSOCIAT llc,2019,1.930252e+09,2019-12-09,2019-12-09,2019-12-24,RV,1.0,13617.04,2019-12-09,NAU5,1.930252e+09,2,13617.0400
39062,U001,0200712187,SPAR trust,2019,1.930254e+09,2019-12-09,2019-12-09,2019-12-24,RV,1.0,137722.95,2019-12-09,NAA8,1.930254e+09,-1,137722.9500
39063,U001,0100031704,DELHAIZE foundation,2019,1.930230e+09,2019-12-09,2019-12-09,2019-12-24,RV,1.0,44164.82,2019-12-09,NAA8,1.930230e+09,3,44164.8200
39064,U001,0200769623,WAL-MAR llc,2019,1.930257e+09,2019-12-09,2019-12-09,2019-12-24,RV,1.0,2237.43,2019-12-09,NAH4,1.930257e+09,-4,2237.4300
39065,U001,0200762301,C&S WH in,2019,1.930249e+09,2019-12-09,2019-12-09,2019-12-24,RV,1.0,26435.11,2019-12-09,NAC6,1.930249e+09,0,26435.1100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45952,CA02,0140106408,WAL-M co,2020,2.960617e+09,2020-02-26,2020-02-26,2020-03-08,RV,1.0,44479.13,2020-02-27,CA10,2.960617e+09,5,34693.7214
45953,U001,0200865666,RESTAU llc,2020,1.930577e+09,2020-02-26,2020-02-26,2020-03-12,RV,1.0,4304.37,2020-02-26,NAA8,1.930577e+09,0,4304.3700
45954,U001,0200326954,NEWE in,2020,1.930574e+09,2020-02-26,2020-02-26,2020-03-04,RV,1.0,73652.23,2020-02-26,NAD8,1.930574e+09,2,73652.2300
45955,U001,0200772595,SAFEW,2020,1.930574e+09,2020-02-26,2020-02-26,2020-03-12,RV,1.0,50210.26,2020-02-26,NAA8,1.930574e+09,0,50210.2600
45956,CA02,0140105686,SYSC llc,2020,2.960616e+09,2020-02-26,2020-02-26,2020-03-15,RV,1.0,3336.00,2020-03-05,CA10,2.960616e+09,4,2602.0800

In [123]:
df=q
df['cust_delay_mean']=df['cust_number'].map(mapper1)
df['cust_name_delay_mean']=df['name_customer'].map(mapper2)
df['payment_time']=(df['due_in_date']-df['document_create_date']).dt.days
encoding(df)
dates_feature(df)
df['document_create_is_working']=np.where(df.document_create_date_dayofweek.isin([5,6]),0,1)
df['due_in_is_working']=np.where(df.due_in_date_dayofweek.isin([5,6]),0,1)
df=df.drop(drop,axis=1)
df.columns.value_counts().sum()

41

In [124]:
for i in df.columns:
    if df[i].isna().any():
        df[i].fillna(int(modes[i]),inplace=True)

for i in df.columns:
    if df[i].isna().any():
        print(i)

In [125]:
Xte=df.copy()
Xte=Xte[feature].copy()

In [126]:
predicted1 = clf.predict(Xtr)
predicted = clf.predict(Xte)
print(mean_squared_error(Yval, predicted))
print(r2_score(Yval, predicted))
print(mean_absolute_error(Yval, predicted))
print(np.sqrt(mean_squared_error(Yval, predicted)))
A=((abs((pd.Series(np.around(predicted)).astype(int)-Yval.reset_index(drop=True))))<4).value_counts().to_frame().T
for i in A.columns:
    if i==True:
        print(int(A[i]))
    else:
        print(int(A[i]))

1666.2505080599715
-32.354337212909776
31.824541194712413
40.81973184698757
5769
1104

In [127]:
# Just Combining the Lists into a DataFrame for a Better Visualisation
Comp = pd.DataFrame(list(zip(MSE_Score,RMSE_Score, R2_Score,MAE_Score,isTrue,isFalse,AllFeatures)), columns = ['MSE_Score','RMSE_Score', 'R2_Score','MAE_Score','isTrue','isFalse','Allfeatures'])
# Score Card
Comp[['MSE_Score','RMSE_Score', 'R2_Score','MAE_Score','isTrue','isFalse']]

   MSE_Score  RMSE_Score  R2_Score  MAE_Score  isTrue  isFalse
0  32.477586    7.544121  0.349877   3.597053    5103     1770
1  56.913762    7.544121 -0.139277   3.597053    5103     1770

In [ ]:
len(AllFeatures)